
.boton-control {
    
}

.boton-ventana-cerrar {
    position: fixed;
    all: initial;
    cursor: pointer;
    right: 0;
    background-color: rgb(211, 211, 211);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    color: rgb(5, 5, 5);
}