// Fuentes
$fuente_principal: 'Myriad Pro Light', sans-serif;
$fuente_titulos: 'Aperto';

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopC: 1200px;
$desktopM: 1400px;

// Colores
$azul: #84a4bc;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15;

$blanco: #161616;
$gris: #414141;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

$rojoa: #cb0000;