.contenedor-asistencia {
    position: relative;
}

.form-asistencia {
    display: flex;
    position: relative;
}

.encabezado-form {
    width: 100%;
    display: flex;
    justify-content: space-around;


}

.detector-hora{
    .contenedor-grid {
        flex: auto;
        .opciones-menu {
         
            p {
                margin: 1rem;
            }
        }

    }
}
 .asistencia-empleado {
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

    }

.visible {
    display: none;
}

.notificacion-asistencia-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 10rem;
}

.atiempo {
    margin-right: 0;
    border: 2px solid green;
    border-radius: 2rem;
}

.falta {
    border: 2px solid red;
    border-radius: 2rem;
}

.retardo {
    border: 2px solid rgb(184, 184, 26);
    border-radius: 2rem;
}
